<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDOxTpB0lU_wxBqSelC1dtpQ5jTNnKSTjk</string>
	<key>GCM_SENDER_ID</key>
	<string>600358331311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mhshohan.journalapp</string>
	<key>PROJECT_ID</key>
	<string>journal-native-app</string>
	<key>STORAGE_BUCKET</key>
	<string>journal-native-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:600358331311:ios:0458ed452bd1b166b9455a</string>
</dict>
</plist>